<section id="conversation" role="region">
  <header>
    <a href="#inbox"><span class="icon icon-back">Back</span></a>
    <menu type="toolbar">
      <a class="multimedia" href="#"><span class="icon icon-attach">
      compose image</span></a>
      <a class="location" href="#"><span class="icon icon-location">
      send location</span></a>
    </menu>
    <h1>
      <a id="group-profile" href="#conversation/{{id}}/profile">{{title}}</a>
    </h1>
  </header>
  <header class="connection-status">
    <h2 class="in-app-notification hide"></h2>
    <h2 class="last-seen">{{translate 'conversationLastSeen'}} <time></time></h2>
    <h2 class="is-online">{{translate 'conversationIsOnline'}}</h2>
    <h2 class="participants">{{translate 'loadingParticipants'}}</h2>
  </header>
  <div class="progressContainer">
    <span>{{translate 'sendingImage'}}</span>
    <progress class="pack-activity light" value="100" max="100"></progress>
  </div>


  <div class="page-wrapper">
    <ul class="messages idle"></ul>
  </div>
</section><!-- conversation -->
