<form data-type="value-selector" role="dialog" id="emoji-list" class="hidden">
  <section class="scrollable">
    <h1>{{translate 'emojiListTitle'}}</h1>
    <ul role="listbox">
      <li role="option">
        <label for="emoji1f620">
          <input name="emoji" type="radio" id="emoji1f620" value="&#x1f620">
          <span><i class="emoji emoji1f620"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f629">
          <input name="emoji" type="radio" id="emoji1f629" value="&#x1f629">
          <span><i class="emoji emoji1f629"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f632">
          <input name="emoji" type="radio" id="emoji1f632" value="&#x1f632">
          <span><i class="emoji emoji1f632"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f61e">
          <input name="emoji" type="radio" id="emoji1f61e" value="&#x1f61e">
          <span><i class="emoji emoji1f61e"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f635">
          <input name="emoji" type="radio" id="emoji1f635" value="&#x1f635">
          <span><i class="emoji emoji1f635"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f630">
          <input name="emoji" type="radio" id="emoji1f630" value="&#x1f630">
          <span><i class="emoji emoji1f630"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f612">
          <input name="emoji" type="radio" id="emoji1f612" value="&#x1f612">
          <span><i class="emoji emoji1f612"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f60d">
          <input name="emoji" type="radio" id="emoji1f60d" value="&#x1f60d">
          <span><i class="emoji emoji1f60d"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f624">
          <input name="emoji" type="radio" id="emoji1f624" value="&#x1f624">
          <span><i class="emoji emoji1f624"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f61c">
          <input name="emoji" type="radio" id="emoji1f61c" value="&#x1f61c">
          <span><i class="emoji emoji1f61c"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f61d">
          <input name="emoji" type="radio" id="emoji1f61d" value="&#x1f61d">
          <span><i class="emoji emoji1f61d"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f60b">
          <input name="emoji" type="radio" id="emoji1f60b" value="&#x1f60b">
          <span><i class="emoji emoji1f60b"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f618">
          <input name="emoji" type="radio" id="emoji1f618" value="&#x1f618">
          <span><i class="emoji emoji1f618"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f61a">
          <input name="emoji" type="radio" id="emoji1f61a" value="&#x1f61a">
          <span><i class="emoji emoji1f61a"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f637">
          <input name="emoji" type="radio" id="emoji1f637" value="&#x1f637">
          <span><i class="emoji emoji1f637"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f633">
          <input name="emoji" type="radio" id="emoji1f633" value="&#x1f633">
          <span><i class="emoji emoji1f633"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f603">
          <input name="emoji" type="radio" id="emoji1f603" value="&#x1f603">
          <span><i class="emoji emoji1f603"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f605">
          <input name="emoji" type="radio" id="emoji1f605" value="&#x1f605">
          <span><i class="emoji emoji1f605"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f606">
          <input name="emoji" type="radio" id="emoji1f606" value="&#x1f606">
          <span><i class="emoji emoji1f606"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f601">
          <input name="emoji" type="radio" id="emoji1f601" value="&#x1f601">
          <span><i class="emoji emoji1f601"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f602">
          <input name="emoji" type="radio" id="emoji1f602" value="&#x1f602">
          <span><i class="emoji emoji1f602"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f60a">
          <input name="emoji" type="radio" id="emoji1f60a" value="&#x1f60a">
          <span><i class="emoji emoji1f60a"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f604">
          <input name="emoji" type="radio" id="emoji1f604" value="&#x1f604">
          <span><i class="emoji emoji1f604"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f622">
          <input name="emoji" type="radio" id="emoji1f622" value="&#x1f622">
          <span><i class="emoji emoji1f622"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f62d">
          <input name="emoji" type="radio" id="emoji1f62d" value="&#x1f62d">
          <span><i class="emoji emoji1f62d"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f628">
          <input name="emoji" type="radio" id="emoji1f628" value="&#x1f628">
          <span><i class="emoji emoji1f628"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f623">
          <input name="emoji" type="radio" id="emoji1f623" value="&#x1f623">
          <span><i class="emoji emoji1f623"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f621">
          <input name="emoji" type="radio" id="emoji1f621" value="&#x1f621">
          <span><i class="emoji emoji1f621"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f60c">
          <input name="emoji" type="radio" id="emoji1f60c" value="&#x1f60c">
          <span><i class="emoji emoji1f60c"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f616">
          <input name="emoji" type="radio" id="emoji1f616" value="&#x1f616">
          <span><i class="emoji emoji1f616"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f614">
          <input name="emoji" type="radio" id="emoji1f614" value="&#x1f614">
          <span><i class="emoji emoji1f614"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f631">
          <input name="emoji" type="radio" id="emoji1f631" value="&#x1f631">
          <span><i class="emoji emoji1f631"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f62a">
          <input name="emoji" type="radio" id="emoji1f62a" value="&#x1f62a">
          <span><i class="emoji emoji1f62a"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f60f">
          <input name="emoji" type="radio" id="emoji1f60f" value="&#x1f60f">
          <span><i class="emoji emoji1f60f"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f613">
          <input name="emoji" type="radio" id="emoji1f613" value="&#x1f613">
          <span><i class="emoji emoji1f613"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f625">
          <input name="emoji" type="radio" id="emoji1f625" value="&#x1f625">
          <span><i class="emoji emoji1f625"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f62b">
          <input name="emoji" type="radio" id="emoji1f62b" value="&#x1f62b">
          <span><i class="emoji emoji1f62b"></i></span>
        </label>
      </li>
      <li role="option">
        <label for="emoji1f609">
          <input name="emoji" type="radio" id="emoji1f609" value="&#x1f609">
          <span><i class="emoji emoji1f609"></i></span>
        </label>
      </li>
    </ul>
  </section>
  <menu>
    <button type="button" class="full">{{translate 'cancelButton'}}</button>
  </menu>
</form>

<section id="conversation" role="region">
  <header>
    <a href="#inbox"><span class="icon icon-back">Back</span></a>
    <h1>
      <a id="group-profile" href="#conversation/{{id}}/profile">{{title}}</a>
    </h1>
  </header>
  <header class="connection-status">
    <h2 class="last-seen">{{translate 'conversationLastSeen'}} <time></time></h2>
    <h2 class="is-online">{{translate 'conversationIsOnline'}}</h2>
    <h2 class="participants">{{translate 'loadingParticipants'}}</h2>
  </header>
  <div class="progressContainer">
    <span>{{translate 'sendingImage'}}</span>
    <progress class="pack-activity light" value="100" max="100"></progress>
  </div>


  <div class="page-wrapper">
    <ul class="messages idle"></ul>
  </div>
</section><!-- conversation -->
