<li class="{{messageOwnerClass from.msisdn}} location {{status}}" data-timestamp="{{meta.timestamp}}">
  <span class="content">
    <a href="#viewer/location/{{conversationId}}/{{_id}}">
      <img src="">
    </a>
    {{locationText}}
  </span>

  <time>{{formattedMessageDate meta.date}}</time>
  {{#ifIsUnsent status }}
    <button class="resend"><span>↻</span></button>
  {{/ifIsUnsent}}
  {{#ifIsSent status}}
    <span class="sent">✔</span>
  {{/ifIsSent}}
  {{#ifIsReceived status }}
    <span class="delivered">✔✔</span>
  {{/ifIsReceived}}
</li>
