<section role="region" id="login-page"
 class="register-page register-flow-page">
  <header>
    <h1>{{translate 'registerOpenWapp'}}</h1>
  </header>

  <div class="page-wrapper">
    <section class="intro">
      <p>{{translate 'welcomeMessage1'}}</p>
      <p>{{translate 'welcomeMessage2'}}</p>
      <p>{{translate 'insertMobileNumber'}}</p>
      <p>{{countryDetectionMessage}}</p>
      <p class="tos">
        <a href="http://git.ovz.ca/openwapp/openwapp/raw/master/TERMS.txt"
        target="_blank">{{translate 'termsOfUse'}}</a>
      </p>
    </section><!-- intro -->

    <section class="main">
      <form id="register" class="default">
        <p>
          <fieldset>
            <legend class="action hidden" id="choose-sim">
              {{translate 'simCard'}}
            </legend>
          </fieldset>
        </p>
        <p>
          <fieldset>
            <legend class="action country-prefix" id="choose-country" >
              {{translate 'country'}}
            </legend>
            <input type="tel" name="msisdn"
            placeholder="{{translate 'yourNumberPlaceHolder'}}" required>
          </fieldset>
        </p>

        <p class="hidden">
          <select id="country-select">
            <option value="" selected="selected">{{translate 'country'}}</option>
          </select>
          <select id="sim-select"></select>
        </p>
        <p>
          <input type="submit" value="{{translate 'nextButton'}}">
        </p>
      </form>
    </section><!-- main -->
  </div><!-- page wrapper -->
</section><!-- login -->

<section role="region" id="network-prompt-page" class="register-network-page">
    <header>
        <a><span class="icon icon-back">Back</span></a>
        <h1>{{translate 'registerOpenWapp'}}</h1>
    </header>
    <div class="page-wrapper">
        <section class="intro">
            <p>{{translate 'noSimForThisNumber'}}</p>
            <p>{{translate 'chooseNetwork'}}</p>
        </section>
        <section class="main">
            <form id="register-network" class="default">
                <p class="hidden">
                  <select id="carrier-select">
                      <option value="" selected="selected">
                        {{translate 'carrier'}}
                      </option>
                  </select>
                  <select id="mcc-mnc-select">
                      <option value="" selected="selected">
                        MCC/MNC
                      </option>
                  </select>
                </p>
                <p>
                  <fieldset>
                    <legend class="action" id="choose-carrier">
                      {{translate 'carrier'}}
                    </legend>
                  </fieldset>
                </p>
                <p>
                  <fieldset>
                    <legend class="action" id="choose-mcc-mnc">
                      MCC/MNC
                    </legend>
                  </fieldset>
                </p>
                <p>
                  <input type="submit" value="{{translate 'nextButton'}}"
                         id="network-submit" disabled>
                </p>
            </form>
        </section>
    </div>
</section>

<section role="region" id="confirm-phone-page"
 class="register-confirmation-page register-flow-page">
  <header>
    <a><span class="icon icon-back">Back</span></a>
    <h1>{{translate 'registerOpenWapp'}}</h1>
  </header>
  <div class="page-wrapper">
    <section class="intro">
      <p>{{translate 'smsValMessage'}}</p>
      <div class="spinner">
        <p>{{translate 'sendingValCode'}}</p>
        <progress></progress>
      </div><!-- spinner -->
    </section><!-- intro -->
    <section class="main">
      <form id="register-conf" class="default">
        <p>

          <fieldset>
            <legend class="country-prefix">{{translate 'country'}}</legend>
            <input type="tel" name="msisdn"
            placeholder="{{translate 'yourNumberPlaceHolder'}}" required>
          </fieldset>
        </p>
        <p>{{translate 'loginEditIncorrect'}}</p>
        <p class="call-to-action">{{translate 'loginNumberOk'}}</p>
        <p>
          <input type="submit" value="{{translate 'acceptButton'}}">
        </p>
        <p>
          <button id="validate-button" class="right">
            {{translate 'goToValidateButton'}}
          </button>
        </p>
      </form>
    </section><!-- main -->
  </div><!-- page wrapper -->
</section>
