<li class="{{messageOwnerClass from.msisdn}} text {{status}}" data-message-id={{_id}}>
  <span class="author">{{author}}</span>
  <span class="content">{{expand contents}}</span>
  <time>{{formattedMessageDate meta.date}}</time>
  {{#ifIsUnsent status }}
    {{! not traslated because it will be replaced with a picture }}
    <button class="resend"><span>Resend</span></button>
  {{/ifIsUnsent}}
  {{#ifIsSent status}}
    <span class="sent">✔</span>
  {{/ifIsSent}}
  {{#ifIsReceived status }}
    <span class="delivered">✔✔</span>
  {{/ifIsReceived}}
</li>
